.sub-header {
    font-size: 22px;
    margin-top: 30px;
}

.sub-header-first {
    margin-top: 58px;
}

.line {
    background: #e24c9b;
    width: 60%;
    height: 2px;
    margin-left: 18%;
}

#label6 {
    top: 25%;
    left: 55%;
    text-align: center;
    transition: left 1s, top 1s, opacity 0.5s;
}

.logo {
    width: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 2s;
}

@media screen and (max-width: 700px) {

    .line {
        width: 80%;
        height: 1px;
        margin-left: 10%;
    }

    #label6 {
        top: 22%;
    }
}